<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="studentId" class="cn.tf.demo7.c.Student">
			<property name="teacher"  value="#{teacherId}"></property>
			<property name="pi"  value="#{T(java.lang.Math).PI}"></property>
	</bean>
	
	<bean id="teacherId"  class="cn.tf.demo7.c.Teacher"  >
			<property name="tname"  value="#{'abc'.toUpperCase()}"></property>
	</bean>
	
	
</beans>